server {
    listen ${PORT};
    listen [::]:${PORT};
    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location ~* \.csv$ {
        types { text/csv csv; }
        add_header Cache-Control "public, max-age=3600";
    }
}
